<% @title="Races" %>
This material is Open Game Content, and is licensed
for public use under the terms of the
<a href="license/ogl">Open Game License v1.0a</a>.
<p>
<%= link_to 'Home', :root %>
</p>
<h1>Races</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th>Base Speed</th>
  </tr>
 
<% @races.each do |race| %>
  <tr>
    <td><%= link_to race.name, race %></td>
    <td><%= race.size %></td>
    <td><%= race.base_speed %></td>
  </tr>
<% end %>
</table>
