<% @title=@race.name %>
This material is Open Game Content, and is licensed
for public use under the terms of the
<a href="license/ogl">Open Game License v1.0a</a>.
<p>
<%= link_to 'Home', :root %> |
<%= link_to 'Races', races_path %>
</p>
<h1>Races#show</h1>
<p>Find me in app/views/races/show.html.erb</p>
