<% @title='Feats' %>
This material is Open Game Content, and is licensed
for public use under the terms of the
<a href="license/ogl">Open Game License v1.0a</a>.
<p>
<%= link_to 'Home', :root %>
</p>
<h1>Feats</h1>

<ul> 
<% @feats.each do |feat| %>
<li><%= link_to feat.feat_name, feat_path(feat) %>
<% end %>
</ul>
