<% @title="Skills" %>
This material is Open Game Content, and is licensed
for public use under the terms of the
<a href="license/ogl">Open Game License v1.0a</a>.
<p>
<%= link_to 'Home', :root %>
</p>
<h1>Skills</h1>
 
<ul>
<% @skills.each do |skill| %>
<li><%= skill.skill_name %> (<%= skill.key_ability %>)
  <% if skill.trained_only %>Trained Only<% end %><% if skill.trained_only and skill.armor_penalty %>; <% end %>
  <% if skill.armor_penalty %>Armor Penalty<% end %>
<% end %>
</ul>
