<% @title='Classes' %>
This material is Open Game Content, and is licensed
for public use under the terms of the
<a href="license/ogl">Open Game License v1.0a</a>.
<h1>Classes</h1>

<table>
  <tr>
    <th>Class</th>
    <th>Key Ability</th>
    <th>Hit Die</th>
    <th>Skill Points</th>
  </tr>
 
<% @modern_classes.each do |modern_class| %>
  <tr>
    <td><%= link_to modern_class.class_name, modern_class_path(modern_class) %></td>
    <td><%= modern_class.primary_stat %></td>
    <td>1d<%= modern_class.hit_die %></td>
    <td><%= modern_class.skill_points %> + Int modifier</td>
  </tr>
<% end %>
</table>
